Repository TencentBlueKing/bk-sops, pull requests merged in 2021-01, with the labels that each got.

#3184 feature:全局变量增加查看预览值功能
  dev_log/dev/fannluo_202012301715.yaml
  frontend/desktop/src/App.vue
  frontend/desktop/src/config/i18n/cn.js
  frontend/desktop/src/config/i18n/en.js
  frontend/desktop/src/pages/template/TemplateEdit/TemplateSetting/TabGlobalVariables/VariableCitedList.vue
  frontend/desktop/src/pages/template/TemplateEdit/TemplateSetting/TabGlobalVariables/VariableItem.vue
  frontend/desktop/src/pages/template/TemplateEdit/TemplateSetting/TabGlobalVariables/VariablePreviewValue.vue
  frontend/desktop/src/pages/template/TemplateEdit/TemplateSetting/TabGlobalVariables/index.vue
  frontend/desktop/src/store/modules/project.js
  frontend/desktop/src/store/modules/template.js
Labels: V3.6.X_dev, feature

#3159 bugfix:修复集群资源筛选变量表格属性默认值配置项不生效问题
  dev_log/dev/fannluo_202012281616.yaml
  frontend/desktop/src/components/common/RenderForm/HostAllocation/index.vue
  frontend/desktop/src/components/common/RenderForm/SetAllocation/index.vue
Labels: V3.6.X_dev, bug

#3190 improve: plugin相关API返回数据添加form字段
  dev_log/dev/normal-wls_202012311523.yaml
  docs/apidoc/en/get_plugin_detail.md
  docs/apidoc/en/get_plugin_list.md
  docs/apidoc/zh_hans/get_plugin_detail.md
  docs/apidoc/zh_hans/get_plugin_list.md
  gcloud/apigw/views/get_plugin_detail.py
  gcloud/apigw/views/get_plugin_list.py
  gcloud/tests/apigw/views/test_get_plugin_detail.py
  gcloud/tests/apigw/views/test_get_plugin_list.py
  gcloud/tests/mock.py
  pipeline_plugins/components/collections/sites/open/cc/batch_update_host/v1_0.py
  pipeline_plugins/components/collections/sites/open/cc/host_custom_property_change/v1_0.py
  pipeline_plugins/components/collections/sites/open/monitor/alarm_shield/v1_1.py
  pipeline_plugins/components/collections/sites/open/monitor/alarm_shield_strategy/v1_1.py
  pipeline_plugins/components/collections/sites/open/nodeman/create_task/v2_0.py
Labels: V3.6.X_dev

#3163 bugfix:修复 分支网关表达式字符串未转义导致判断出错 问题
  dev_log/dev/normal-wls_202012281947.yaml
  pipeline/core/constants.py
  pipeline/core/flow/gateway.py
Labels: V3.6.X_dev

#3123 feature:添加变量值预览后台接口
  dev_log/dev/normal-wls_202012171615.yaml
  gcloud/tasktmpl3/api.py
  gcloud/tasktmpl3/urls.py
  gcloud/tasktmpl3/utils.py
  pipeline_plugins/tests/variables/collections/test_staff_group_selector.py
  pipeline_plugins/variables/collections/common.py
  pipeline_plugins/variables/collections/sites/open/cc.py
  pipeline_plugins/variables/collections/sites/open/cmdb/var_cmdb_set_module_ip_selector.py
  pipeline_plugins/variables/collections/sites/open/cmdb/var_set_group_selector.py
  pipeline_plugins/variables/collections/sites/open/cmdb/var_set_module_selector.py
  pipeline_web/parser/format.py
Labels: V3.6.X_dev, feature

#3157 improvement:参数填写页面表单填写错误点击下一步时能定位到错误位置
  dev_log/dev/fannluo_202012261533.yaml
  frontend/desktop/src/pages/task/TaskCreate/TaskParamFill.vue
Labels: V3.6.X_dev, optimization

#3155 improvement:集群&模块属性信息展示成对应类型前端组件
  dev_log/dev/normal-wls_202012271143.yaml
  pipeline_plugins/components/query/sites/open/cc.py
Labels: V3.6.X_dev

#3202 bugfix:修复职能化认领预览弹窗关闭后无法弹出问题
  dev_log/dev/fannluo_202101051515.yaml
  frontend/desktop/src/pages/task/TaskExecute/TaskFunctionalization.vue
Labels: V3.6.X, bug

#3194 feature: 添加 analysis_constants_ref 变量引用计算接口
  gcloud/tasktmpl3/api.py
  gcloud/tasktmpl3/urls.py
  gcloud/tasktmpl3/utils.py
  gcloud/tasktmpl3/validators.py
  gcloud/tests/tasktmpl3/utils/__init__.py
  gcloud/tests/tasktmpl3/utils/test_analysis_pipeline_constants_ref.py
Labels: V3.6.X_dev, feature

#3078 minor: 解决 requirements 中的依赖包版本冲突
  requirements.txt
Labels: V3.6.X_dev, dependencies

#3097 optimization: http 1.0 插件 url 允许引用变量, 超时时间最大值改为 30s
  dev_log/dev/homholueng_202012141028.yaml
  pipeline_plugins/components/static/components/atoms/bk/http/v1_0.js
  static/components/atoms/bk/http/v1_0.js
Labels: V3.6.X_dev, optimization

#3100 feature: component resource 接口增加 sort_key_group_en 字段
  gcloud/core/resources.py
Labels: V3.6.X_dev, feature

#3134 minor: APIGW create_task 接口对任务名的长度校验改为 100
  gcloud/apigw/schemas.py
Labels: V3.6.X_dev, optimization

#3156 optimization: 下拉框远程数据源请求超时时间设置为10s
  dev_log/dev/homholueng_202012281036.yaml
  pipeline_plugins/variables/query/sites/open/select.py
Labels: V3.6.X_dev, optimization

#3170 optimization: 隐藏变量会进行 mako 预渲染
  dev_log/dev/homholueng_202012291217.yaml
  pipeline/core/data/context.py
  pipeline/tests/core/data/test_context.py
  pipeline_web/parser/format.py
  pipeline_web/tests/parser/format/test_format_web_data_to_pipeline.py
Labels: V3.6.X_dev, bug

#3151 V3.6.x bugfix sleep rewrite open
  dev_log/dev/homholueng_202012241716.yaml
  pipeline/engine/core/handlers/base.py
  pipeline/engine/core/handlers/service_activity.py
  pipeline/engine/core/runtime.py
  pipeline/tests/engine/core/handlers/test_service_act_handler.py
  pipeline/tests/engine/core/test_runtime.py
  pipeline/tests/mock.py
Labels: V3.6.X, bug

#3172 minor: 支持配置首页渲染上下文内容
  gcloud/core/context_processors.py
Labels: V3.6.X_dev, optimization

#3174 iam upgrade to 1.1.9
  dev_log/dev/homholueng_202012291745.yaml
  gcloud/iam_auth/view_interceptors/apigw/claim_functionalization_task.py
  gcloud/iam_auth/view_interceptors/apigw/common_flow_view.py
  gcloud/iam_auth/view_interceptors/apigw/create_periodic_task.py
  gcloud/iam_auth/view_interceptors/apigw/create_task.py
  gcloud/iam_auth/view_interceptors/apigw/fast_create_task.py
  gcloud/iam_auth/view_interceptors/apigw/flow_view.py
  gcloud/iam_auth/view_interceptors/apigw/functionalization_task_view.py
  gcloud/iam_auth/view_interceptors/apigw/get_periodic_task_info.py
  gcloud/iam_auth/view_interceptors/apigw/get_template_info.py
  gcloud/iam_auth/view_interceptors/apigw/periodic_task_edit.py
  gcloud/iam_auth/view_interceptors/apigw/project_view.py
  gcloud/iam_auth/view_interceptors/apigw/task_edit.py
  gcloud/iam_auth/view_interceptors/apigw/task_operate.py
  gcloud/iam_auth/view_interceptors/apigw/task_view.py
  iam/__version__.py
  iam/contrib/django/dispatcher/dispatchers.py
  iam/contrib/iam_migration/apps.py
  iam/contrib/iam_migration/conf.py
  iam/contrib/iam_migration/management/commands/iam_makemigrations.py
  iam/contrib/iam_migration/utils/do_migrate.py
  iam/iam.py
  iam/shortcuts.py
Labels: V3.6.X_dev, dependencies, optimization

#3131 optimization: 优化有向图环检测算法
  dev_log/dev/homholueng_202012211111.yaml
  gcloud/tasktmpl3/api.py
  pipeline/utils/graph.py
  pipeline_web/drawing_new/rank/longest_path.py
Labels: V3.5.X_dev, optimization

#3218 bugfix: 修复预渲染变量引用了隐藏的动态类型全局变量时引用失败的问题
  pipeline_web/parser/format.py
  pipeline_web/tests/parser/format/test_format_web_data_to_pipeline.py
Labels: V3.6.X_dev, bug

#3219 minor: _do_policy_query_with_cache同步dummy iam
  iam/dummy_iam.py
Labels: V3.6.X_dev

#3206 optimization:初始化轻应用描述
  gcloud/contrib/appmaker/api.py
Labels: optimization

#3186 improvement: 暂停节点支持api调用node_callback接口进行启动并传入数据
  dev_log/dev/normal-wls_202012302115.yaml
  pipeline_plugins/components/collections/controller.py
Labels: V3.6.X_dev

#3180 improvement: 优化 无登录态情况下访问非首页页面登陆后会重定向到首页 问题
  blueapps/account/handlers/response.py
  blueapps/conf/default_settings.py
  dev_log/dev/normal-wls_202012301415.yaml
  gcloud/core/views.py
Labels: V3.6.X_dev

#3166 bugfix:修复 创建任务api剔除不可选节点异常处理报错 问题
  dev_log/dev/normal-wls_202012282157.yaml
  gcloud/apigw/views/create_task.py
  gcloud/taskflow3/models.py
  gcloud/tests/apigw/views/test_create_task.py
Labels: V3.6.X_dev

#3192 improve：ip选择器支持大小写
  dev_log/dev/v_xugzhou_202012282013.yaml
  frontend/desktop/src/components/common/RenderForm/IpSelector/DynamicIp.vue
  frontend/desktop/src/config/i18n/cn.js
  frontend/desktop/src/config/i18n/en.js
Labels: V3.6.X_dev

#3162 improve: 插件输出说明中增加类型字段
  dev_log/dev/v_xugzhou_202012221541.yaml
  frontend/desktop/src/pages/template/TemplateEdit/NodeConfig/OutputParams.vue
Labels: V3.6.X_dev

#3095 improve: 修复任务数据点击灰色区域无自动关闭问题
  dev_log/dev/v_xugzhou_202012101610.yaml
  frontend/desktop/src/pages/task/TaskExecute/TaskOperation.vue
  frontend/desktop/src/pages/task/TaskExecute/TemplateData.vue
Labels: V3.6.X_dev, optimization

#3214 bugfix: 修复 JOB 返回未知类型变量时 500 的问题
  dev_log/dev/homholueng_202101081059.yaml
  pipeline_plugins/components/query/sites/open/job.py
Labels: V3.6.X_dev, bug

#3213 optimization: analysis_constants_ref 接口返回字段优化
  gcloud/tasktmpl3/api.py
  gcloud/tasktmpl3/utils.py
  gcloud/tests/tasktmpl3/utils/test_analysis_pipeline_constants_ref.py
Labels: V3.6.X_dev, optimization

#3221 bugfix: 修复 主机转移模块插件选中集群时执行报错 问题
  dev_log/dev/normal-wls_202101130116.yaml
  pipeline_plugins/components/collections/sites/open/cc/transfer_host_module/legacy.py
  pipeline_plugins/components/collections/sites/open/cc/transfer_host_module/v1_0.py
Labels: V3.6.X_dev, bug

#3220 improve: get 相关api接口添加缓存
  dev_log/dev/normal-wls_202101121744.yaml
  gcloud/apigw/utils.py
  gcloud/apigw/views/get_plugin_detail.py
  gcloud/apigw/views/get_plugin_list.py
  gcloud/apigw/views/get_task_status.py
  gcloud/apigw/views/get_tasks_status.py
  gcloud/apigw/views/get_user_project_detail.py
  gcloud/apigw/views/get_user_project_list.py
  gcloud/tests/apigw/views/test_get_user_project_detail.py
  iam/dummy_iam.py
Labels: V3.6.X_dev, optimization

#3216 improvement:多选下拉框选项过长显示优化
  dev_log/dev/fannluo_202101081956.yaml
  frontend/desktop/src/components/common/RenderForm/tags/TagSelect.vue
  frontend/desktop/src/pages/template/TemplateEdit/TemplateSetting/TabGlobalVariables/VariableEdit.vue
Labels: V3.6.X, optimization

#3212 improvement:全局变量引用计数改为由后台接口获取
  dev_log/dev/fannluo_202101071952.yaml
  frontend/desktop/src/config/i18n/cn.js
  frontend/desktop/src/config/i18n/en.js
  frontend/desktop/src/pages/template/TemplateEdit/TemplateSetting/TabGlobalVariables/VariableCitedList.vue
  frontend/desktop/src/pages/template/TemplateEdit/TemplateSetting/TabGlobalVariables/VariableEdit.vue
  frontend/desktop/src/pages/template/TemplateEdit/TemplateSetting/TabGlobalVariables/VariableItem.vue
  frontend/desktop/src/pages/template/TemplateEdit/TemplateSetting/TabGlobalVariables/index.vue
  frontend/desktop/src/pages/template/TemplateEdit/index.vue
  frontend/desktop/src/store/modules/template.js
Labels: V3.6.X, optimization

#3161 V3.6.X_dev: 节点配置中不同版本展示不同的描述
  dev_log/dev/v_xugzhou_202012281521.yaml
  frontend/desktop/src/pages/task/TaskExecute/ExecuteInfo.vue
  frontend/desktop/src/pages/template/TemplateEdit/NodeConfig/NodeConfig.vue
Labels: V3.6.X_dev

#3215 feature:任务节点执行日志支持全屏模式查看
  dev_log/dev/fannluo_202101081512.yaml
  frontend/desktop/src/config/i18n/cn.js
  frontend/desktop/src/config/i18n/en.js
  frontend/desktop/src/pages/task/TaskExecute/ExecuteInfo.vue
  frontend/desktop/src/pages/task/TaskExecute/FullCodeEditor.vue
Labels: V3.6.X

#3167 improve: 高级搜索与名称搜索联动问题修复
  dev_log/dev/v_xugzhou_202012281934.yaml
  frontend/desktop/src/pages/appmaker/AppTaskHome/index.vue
  frontend/desktop/src/pages/appmaker/index.vue
  frontend/desktop/src/pages/audit/AuditList.vue
  frontend/desktop/src/pages/functor/FunctionList.vue
  frontend/desktop/src/pages/task/PeriodicList/index.vue
  frontend/desktop/src/pages/task/TaskList/index.vue
  frontend/desktop/src/pages/template/TemplateList/index.vue
  frontend/desktop/src/pages/template/common/CommonTemplateList.vue
Labels: V3.6.X_dev

#3177 fixbug: job执行作业插件全局变量勾选后，刷新全局变量按钮不生效
  pipeline_plugins/components/static/components/atoms/job/job_execute_task.js
  static/components/atoms/job/job_execute_task.js
Labels: V3.6.X_dev, bug

#3225 improve：网关节点tip改为图标样式更改
  frontend/desktop/src/components/common/TemplateCanvas/NodeTemplate/BranchGateway.vue
  frontend/desktop/src/components/common/TemplateCanvas/NodeTemplate/index.vue
  frontend/desktop/src/pages/task/TaskExecute/TaskOperation.vue
Labels: V3.6.X_dev

#3226 import: 轻应用列表跳转错误问题修复
  dev_log/dev/v_xugzhou_202101131712.yaml
  frontend/desktop/src/pages/admin/statistics/Appmaker.vue
Labels: V3.6.X_dev

#3227 improve: 下载流程为图片改在工具栏
  dev_log/dev/v_xugzhou_202101131645.yaml
  frontend/desktop/src/components/common/TemplateCanvas/ToolPanel/index.vue
  frontend/desktop/src/components/common/TemplateCanvas/index.vue
  frontend/desktop/src/pages/template/TemplateEdit/index.vue
Labels: V3.6.X_dev

#3233 improvement:优化画布 loading 取消逻辑
  dev_log/dev/fannluo_202101141912.yaml
  frontend/desktop/src/pages/template/TemplateEdit/index.vue
Labels: V3.6.X_dev, optimization

#3229 feature:节点配置面板增加全局变量编辑入口
  dev_log/dev/fannluo_202101131734.yaml
  frontend/desktop/src/pages/template/TemplateEdit/NodeConfig/NodeConfig.vue
Labels: V3.6.X_dev, feature

#3228 bugfix：monaco-editor插件worker文件加载路径调整
  frontend/desktop/builds/webpack.base.js
Labels: V3.6.X_dev, bug

#3231 feat: 流程执行时允许查看分支条件
  dev_log/dev/v_xugzhou_202101141450.yaml
  frontend/desktop/src/components/common/TemplateCanvas/index.vue
  frontend/desktop/src/pages/task/TaskExecute/TaskOperation.vue
  frontend/desktop/src/pages/template/TemplateEdit/ConditionEdit.vue
Labels: V3.6.X_dev

#3232 minor: query_appmaker_by_group 增加 appmakerId 返回
  gcloud/taskflow3/mixins.py
Labels: V3.6.X_dev, optimization

#3234 improvement:优化画布 loading 取消逻辑
  dev_log/dev/fannluo_202101141912.yaml
  frontend/desktop/src/pages/template/TemplateEdit/index.vue
Labels: V3.5.X, optimization

#3235 bugfix:修复移动端用户无业务时重复请求业务列表接口的问题
  frontend/mobile/src/views/home/index.vue
Labels: V3.6.X, bug

#3237 V3.6.28 fix
  gcloud/tasktmpl3/api.py
  locale/en/LC_MESSAGES/django.po
  locale/zh_hans/LC_MESSAGES/django.po
  pipeline_plugins/components/collections/common.py
  pipeline_plugins/components/collections/controller.py
  pipeline_plugins/components/collections/http/v1_0.py
Labels: V3.6.X_dev, bug

#3236 Bugfix: 修复sentry上报错问题
  gcloud/contrib/admin/views/taskflow.py
  gcloud/tasktmpl3/resources.py
Labels: V3.6.X_dev

#3243 minor: 修复体验问题
  dev_log/dev/fannluo_202012221455.yaml
  dev_log/dev/normal-wls_202012221932.yaml
  env.py
  pipeline_plugins/components/static/components/atoms/cc/create_set/v1_0.js
  pipeline_plugins/components/static/components/atoms/cc/create_set/v2_0.js
  pipeline_plugins/variables/collections/sites/open/cmdb/var_set_filter_selector.py
  pipeline_plugins/variables/static/variables/cmdb/var_set_filter_selector.js
  static/components/atoms/cc/create_set/v1_0.js
  static/components/atoms/cc/create_set/v2_0.js
  static/variables/cmdb/var_set_filter_selector.js
Labels: V3.6.X_dev

#3245 improve: 基础信息标签选择色块添加圆角
  frontend/desktop/src/pages/template/TemplateEdit/TemplateSetting/TabTemplateConfig.vue
Labels: V3.6.X_dev

#3246 improve: 模版标签配置页面添加“默认标签”选项，对于默认标签，编辑和删除按钮置灰。
  dev_log/dev/v_xugzhou_202101191020.yaml
  frontend/desktop/src/config/i18n/cn.js
  frontend/desktop/src/config/i18n/en.js
  frontend/desktop/src/pages/project/config.vue
Labels: V3.6.X_dev

#3241 improve: 修复多模板导出失败时前端报错后后端返回不一致问题
  frontend/desktop/src/store/modules/templateList.js
Labels: V3.6.X_dev

#3240 improve: 修复流程执行时查看分支条件时点击遮罩无法收起问题
  dev_log/dev/v_xugzhou_202101181722.yaml
  frontend/desktop/src/pages/template/TemplateEdit/ConditionEdit.vue
Labels: V3.6.X_dev

#3255 improve: 插件表格分页每页最大数量配置为 10
  frontend/desktop/src/components/common/RenderForm/tags/TagDatatable.vue
Labels: V3.6.X_dev

#3254 improve: 流程标签对于默认标签的排序优化
  frontend/desktop/src/config/i18n/cn.js
  frontend/desktop/src/config/i18n/en.js
  frontend/desktop/src/pages/project/config.vue
Labels: V3.6.X_dev

#3253 improve: 选择标准插件页插件列表排序
  frontend/desktop/src/pages/template/TemplateEdit/index.vue
Labels: V3.6.X_dev

#3252 improve: 修复节点配置中勾选变量后查看全局变量列表样式偏移问题
  frontend/desktop/src/pages/template/TemplateEdit/NodeConfig/NodeConfig.vue
Labels: V3.6.X_dev

#3149 feature: 快速分发文件2.0
  dev_log/dev/spacesun_202012241153.yaml
  pipeline_plugins/components/collections/sites/open/docs/job/fast_push_file/v2_0.md
  pipeline_plugins/components/collections/sites/open/docs/job/image/fast_push_file_v2_0.png
  pipeline_plugins/components/collections/sites/open/job/base.py
  pipeline_plugins/components/collections/sites/open/job/fast_push_file/__init__.py
  pipeline_plugins/components/collections/sites/open/job/fast_push_file/v2_0.py
  pipeline_plugins/components/static/components/atoms/job/fast_push_file/v2_0.js
  static/components/atoms/job/fast_push_file/v2_0.js
Labels: V3.6.X_dev, feature

#3263 minor: 画布工具面板icon更改位置
  frontend/desktop/src/components/common/TemplateCanvas/ToolPanel/index.vue
Labels: V3.6.X_dev

#3248 bugfix: 修复 get_user_project_list 500 的问题
  gcloud/apigw/views/get_user_project_list.py
  gcloud/tests/apigw/views/test_get_user_project_list.py
Labels: V3.6.X_dev, bug

#3256 improve: 修复节点配置里插件重选功能失效的问题
  frontend/desktop/src/pages/template/TemplateEdit/NodeConfig/BasicInfo.vue
  frontend/desktop/src/pages/template/TemplateEdit/NodeConfig/NodeConfig.vue
Labels: V3.6.X_dev

#3261 bugfix: 修复轻应用创建任务注册到权限中心的依赖操作缺少流程查看权限的问题
  dev_log/dev/homholueng_202101211450.yaml
  iam/contrib/iam_migration/migrations/0006_bk_sops_202101211007.py
  support-files/iam/06_mini_app_create_task_relate_actions.json
Labels: V3.6.X_dev, bug

#3247 minor:节点配置面板快速编辑变量问题处理
  frontend/desktop/src/pages/template/TemplateEdit/NodeConfig/NodeConfig.vue
  frontend/desktop/src/pages/template/TemplateEdit/TemplateSetting/TabGlobalVariables/VariableEdit.vue
Labels: V3.6.X, bug

#3267 improvement:url中带筛选条件时列表高级搜索自动填充并展开
  frontend/desktop/src/components/common/advanceSearchForm/index.vue
  frontend/desktop/src/pages/appmaker/AppTaskHome/index.vue
  frontend/desktop/src/pages/appmaker/index.vue
  frontend/desktop/src/pages/audit/AuditList.vue
  frontend/desktop/src/pages/functor/FunctionList.vue
  frontend/desktop/src/pages/task/PeriodicList/index.vue
  frontend/desktop/src/pages/task/TaskList/index.vue
  frontend/desktop/src/pages/template/TemplateList/index.vue
  frontend/desktop/src/pages/template/common/CommonTemplateList.vue
Labels: V3.6.X_dev, optimization

#3268 improvement:公共流程编辑时去掉流程标签表单
  frontend/desktop/src/pages/template/TemplateEdit/TemplateSetting/TabTemplateConfig.vue
Labels: V3.6.X_dev, optimization

#3265 improve: 集群资源筛选变量报错修复
  frontend/desktop/src/components/common/RenderForm/SetAllocation/ResourceFilter.vue
  frontend/desktop/src/config/i18n/cn.js
  frontend/desktop/src/config/i18n/en.js
Labels: V3.6.X_dev, bug

#3270 feature: 变量编辑页面 新增模板 预渲染功能
  frontend/desktop/src/config/i18n/cn.js
  frontend/desktop/src/config/i18n/en.js
  frontend/desktop/src/pages/template/TemplateEdit/TemplateSetting/TabGlobalVariables/VariableEdit.vue
  frontend/desktop/src/pages/template/TemplateEdit/TemplateSetting/TabGlobalVariables/index.vue
Labels: V3.6.X_dev

#3271 improve: 在创建轻应用时展示类别供用户选择
  dev_log/dev/v_xugzhou_202101261635.yaml
  frontend/desktop/src/config/i18n/cn.js
  frontend/desktop/src/config/i18n/en.js
  frontend/desktop/src/pages/appmaker/AppEditDialog.vue
  frontend/desktop/src/pages/appmaker/index.vue
Labels: V3.6.X_dev

#3238 feature: 流程的表头时间字段，增加排序
  dev_log/dev/v_xugzhou_202101181527.yaml
  frontend/desktop/src/pages/template/TemplateList/index.vue
  frontend/desktop/src/pages/template/common/CommonTemplateList.vue
Labels: V3.6.X_dev

#3272 minor: 导入临时方案侧滑异常时弹框层级修改
  dev_log/dev/v_xugzhou_202101261923.yaml
  frontend/desktop/src/components/common/modal/ErrorCodeModal.vue
Labels: V3.6.X_dev
